@function get-vw($target) {
  $vw-context: (1440 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}

@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}

/* GENERAL*/

body, 
div, 
ul, 
li, 
p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
  padding: 0;
  margin: 0;
  font-family: 'Fauna One', serif;
}

.main {
  padding-top: 60px !important;
}

.clear-fix {
  overflow: auto;
}

h1 {
  font: 500 40px/48px 'Fauna One', serif;
  color: #f5a623;
  display: inline;
}

h2 {
  font: bold 24px/29px 'Fauna One', serif;

  /*font-weight: bold;
  font-size: 24px;
  line-height: 29px;*/
  color: #999;
  padding: 10px;
}

h3 {
  font: italic 22px/20px 'Fauna One', serif;

  /*font-style: italic;
  line-height: 22px;
  font-size: 20px;*/
  color: #000;
}

h4 {
  font: bold 14px/17px 'Fauna One', serif;

  /*font-weight: bold;
  font-size: 14px;
  line-height: 17px;*/
  color: #4a4a4a;
}

h2, h3, h4, h5 {
  padding: 10px 5%;
}

p {
  font: 14px/21px "Roboto", sans-serif;
  color: #333;
}

h1 {
  color: #f3f3f3;
}

ul {
  list-style-type: none;
}

img {
  padding: 10px;
}

span {
  padding: 0;
}


html, 
body, 
.mapDiv, 
#view, 
.main, 
main {
  width: 100%;
  height: 100%;
  margin: 0 !important;
}

#map {
  width: 100%;
  height: 100%;
  display: block;
}

.mapDiv {}

.set-caption {
  position: absolute;
  top: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  height: 100%;
  font-family: 'Fauna One', serif;
  font-weight: 500;
  font-size: 40px;
}

.full-width {
  width: 100%;
}

.error {
  color: #D1C036;
  font: bold;
  font-family: monospace;
  background-color: rgba(34, 34, 34, 0.55);
}

.bg-danger {
  p {
    font-size: 30px;
    font-size: 3.5vw;
  }

}

.form-control {
  height: 45px !important;
}

.searchBox {
  background: url(../img/search-white.png) no-repeat 10px 6px #fcfcfc;
  width: 80%;
  height: 40px !important;
  border: 1px solid #d1d1d1;
  font: bold 12px Arial, Helvetica, Sans-serif;
  color: #bebebe;
  padding: 6px 15px 6px 35px;
  @include border-radius(20px);
  text-shadow: 0 2px 3px rgba(0, 0, 0, 0.1);
  @include transition(all 0.7s ease 0s);
}

.searchBox:FOCUS {
  width: 90%;
}
.visiblex {
  transform: translateX(-100vw);
}

.hiddenx {
  transform: translateX(0);
}

.yelpError {
  ul {
    display: flex;
  }

  img {
    border: 0 none;
    display: inline-block;
    height: auto;
    vertical-align: middle;
    float: left;
  }
}

p.solid {
  border: 1px solid;
  padding: 1px;
  text-align: center;
}
